<section class="about-container"> 
<ui-view class="about-inner-right">
    
<div class="request-intro">
  <div class="request-box">       
   <h1>Enter City: </h1>
   <input type="text" id='inbox' name="inputbox" ng-model="location"><P>
      <!-- <span ng-show="!location.length">Please enter city!</span> -->
   <input type="button" class="btn btn-primary btn-lg" ui-sref="weather({name: location})" value="ONE DAY FORECAST"></button>
</div>
</div>
 
<!-- <div class='quoteholder'>
  <div class="new-quote">     
     <p id="quote">“You are the sky. Everything else – </br>it’s just the weather."</br>― Pema Chödrön</p> 
  </div>
 </div> -->
</ui-view>
<section>
    