<!-- <section class="contact-container"> -->
  <section class="contact">
  <div class="request-intro">
   <div class="request-box">    
    <h1>Leah Weather Inc</h1>
    <p>555-555-5555</p>
    <p>seetheweather@somewhere.com</p>
    <p>555 Main Str <br>
        Dallas, TX <br>
        55000</p>
  </div>
    </div>
  <!-- <div class='quoteholder'>
    <div class="new-quote"> 
      <p id="quote">“After three days men grow weary, of a wench, 
      </br>a guest, and weather rainy.”</br> 
      ― Benjamin Franklin</p>
    </div>
  </div> -->
</section>