
<!-- <section class="5DForecast-container">
<h1>Here is the Weather 5 Days Forecast in<br> {{ city }} </h1>
<button ui-sref="weather"> VIEW TODAY FORECAST </button>
</section> -->
<section class="forecast-container">
        <h1 ng-model="location">5 Days Weather in {{ forecast.city.name }}</br></h1>
        <div id="form-wrap" class="wrap">
          <!-- <form autocomplete="on"> -->
          <!-- <input ng-model="name" type="text" placeholder="Enter Location To Search">
          
          <button id="search_submit" class="main-CTA" ng-click="getForecast(name)">ONE DAY FORECAST</button> -->
          Enter City: </br>
          <input type="text" name="inputbox" ng-model="location"><P>
          <input type="button" name="button" ui-sref="weather({name: location})" value="ONE DAY FORECAST"></button>
         <!-- </form> -->
        </div>
      
              <div class="card-container" id="hidden">
                  <div class="forecast-card" ng-repeat="day in forecast">
                    <p>-----------------------------------</p>
                      <p>{{day.dt * 1000 | date: 'longDate'}}</p>
                     
                      <i class="wi wi-owm-{{day.weather[0].id}}" style="float: right"></i>
                      <!-- <p id="desc">Description: {{day.weather.main}}</p> -->
                      <div class="temp">
                          <!-- <p id="temp">{{day.main[0].temp | number: 0}}°</p> -->
                          <p id="temp">Temperature: {{day.main.temp | number: 0}}°</p>
                          <p id="high">High Temperature: {{day.main.temp_max | number: 0}}°</p>
                          <p id="low">Low Temperature: {{day.main.temp_min | number: 0}}°</p>
                      </div>
                      <p>Wind Speed: {{day.wind.speed | number: 0}}mph</p>
                      <p>Humidity: {{day.main.humidity}}%</p>
                  </div>
              </div>
          
          <p>“My mom says that when it rains you never feel like </br> you should be anywhere but home.” 
          </br>― Elise Broach</p>
      
      </section>
      