
<section class="forecast-container">
  <!-- <h1 ng-model="location">5 Days Weather in {{ forecast.city.name }}</h1> -->
       
  <div class="forecast-card" id='forecast' ng-repeat="day in forecast" id='forecast'>
    <div class="tempBox">
     <div id="bold"> 
    <p id="bold-date">{{day.dt * 1000 | date: 'longDate'}}</p>
     </div>
    <p id="desc">{{day.weather[0].main}}</p>
    <p id="temp">Temperature: {{day.main.temp | number: 0}}°F</p>
    <p id="high">High Temperature: {{day.main.temp_max | number: 0}}°F</p>
    <p id="low">Low Temperature: {{day.main.temp_min | number: 0}}°F</p>
    <p>Wind Speed: {{day.wind.speed | number: 0}}mph</p>
    <p>Humidity: {{day.main.humidity}}%</p>                 
    </div>            
  </div>

 <div class="request-intro">
  <div class="request-box"> 
    <h1>Enter City: </h1>
    <input type="text" name="inputbox" id="inbox" ng-model="location"><P>
    <input type="button" class="btn btn-primary btn-lg" name="button" ui-sref="weather({name: location})" value="ONE DAY FORECAST"></button>
 </div>
</div> 
<!-- <div class='quoteholder'>
  <div class="new-quote">       
   <p id="quote">“My mom says that when it rains you never feel like </br> you should be anywhere but home.” 
   </br>― Elise Broach</p>
   </div>
 </div> -->
</section>
      