<section class="booked-main-container" ng-style="{'background-image':'url({{trip.image}})', 'background-position': 'center center'}">
    
    
        

        <h1 ng-model="location">Here is the Weather in {{test}}</br></h1>
                
                <h1>{{weather.main.temp}}</h1>
                <h1>{{weather.main.pressure}}</h1>
                <h1>{{weather.main.humidity}}</h1>
                <h1>{{weather.main.temp_min}}</h1>
                <h1>{{weather.main.temp_max}}</h1>
        
                       
        
        <button ui-sref="5DaysForecast"> VIEW 7 DAYS FORECAST </button>
        <p>“Just for the record, the weather today is calm and sunny, but the air is full of bullshit.” 
                        ― Chuck Palahniuk, Diary</p>

</section>
